# ------------------------------------------------
# Samba AD config
# ------------------------------------------------

# --------------------------------------------------------
. ${PLUGINS}/plugin_load_databag.sh F_10_PKG_01_samba_00_configure.cfg
# --------------------------------------------------------

# Note: The F_10_PKG_01_samba_00_configure.cfg file sets sama_realm and samba_domain

local samba_server_role="dc"
local samba_dns_backend="SAMBA_INTERNAL"

local samba_admin_password="Passw0rd"
