# --------------------------------------------------------
# It would be better to add dc1-dcx in front of fqdn
# like:
#      "dc1.SAMDOM.EXAMPLE.COM"
# --------------------------------------------------------

. ${PLUGINS}/plugin_load_databag.sh F_10_PKG_01_samba_00_configure.cfg

# --------------------------------------------------------

local host_name="${this_hostname_short}.${samba_realm}"
